<div class="row>">
  <fa-icon [icon]="rating! > 0 ? fullStar : emptyStar" style="width: max-content;" [size]="size"></fa-icon>
  <fa-icon [icon]="rating! > 1 ? fullStar : emptyStar" style="width: max-content;" [size]="size"></fa-icon>
  <fa-icon [icon]="rating! > 2 ? fullStar : emptyStar" style="width: max-content;" [size]="size"></fa-icon>
  <fa-icon [icon]="rating! > 3 ? fullStar : emptyStar" style="width: max-content;" [size]="size"></fa-icon>
  <fa-icon [icon]="rating! > 4 ? fullStar : emptyStar" style="width: max-content;" [size]="size"></fa-icon>
</div>
