.form-control::placeholder {
  color: lightslategray;
  font-weight: 400;
  opacity: 1;
}

.btn-primary {
  background-color: #000055;
  border-color: #000055
}

.btn-primary:hover {
  background-color: #fff;
  border-color: #000055;
  color: #000055;
}

.btn-outline-primary {
  border-color: #000055;
  color: black;
}

.btn-outline-primary:hover {
  background-color: #000055;
  color: #E6E9EF;
}
