
<div class="container-fluid" style="height: inherit;">
  <div class="row">
    <div class="container-fluid m-4 rounded-4 col-md-12 ml-sm-auto col-lg-9 p-4" style="background-color: white">
      <div class="">
        <!-- Basic Book Information -->
        <div class="col">
          <div class="row justify-content-between">
            <h1 class="fw-semibold col-lg-8" style="color: #000055">{{book.title}}</h1>
            <fa-icon class="col-lg-1 pt-3" role="button" [icon]="isFavoriteBook ? fullHeart : emptyHeart" size="2xl" (click)="changeFavoriteStatus()"></fa-icon>
            <button class="col-lg-3 mx-5 border-0 rounded-4 fw-semibold px-3 py-2" style="width: max-content; height: 4rem;background-color: #000055; color: #E6EFFE" (click)="navigateToReadingPage()">Start Reading</button>
          </div>
          <h4 class="fw-medium" style="color: lightslategray">{{getCreator(book.agents)}}</h4>
          <hr style="color: #000055">
          <div class="row col-lg-12"><p style="width: max-content" class="pt-2"><app-rating [rating]="avgRating" [size]="'xl'"></app-rating></p><p style="width: max-content" class="fs-4 fw-bold">{{getAvgRatings()}}</p><p style="width: max-content; color: lightslategray" class="pt-2"> {{getNrRatings()}} ratings</p> <p style="width: max-content; color: lightslategray" class="pt-2">{{getNrReviews()}} reviews</p></div>
          <p>{{book.description}}</p>
          <div class="row col-lg-12"><p style="width: max-content; color: slateblue" class="fw-medium">Languages</p><p style="width: max-content;" *ngFor="let language of book.languages">{{language.language}}</p> </div>
          <div class="row col-lg-12"><p style="width: max-content; color: mediumslateblue" class="fw-medium">Bookshelves</p> <p style="width: max-content" *ngFor="let bookshelf of book.bookshelves">{{bookshelf.name}}</p></div>
        </div>

        <div class="col mt-4">
          <h3 class="mb-5 text-center" style="color: lightslategray">Ratings and Reviews</h3>

          <h3 style="color: #720915">My Review</h3>
          <div *ngIf="userReview !== null" class="mt-4">

            <app-review [review]="userReview"></app-review>
          </div>
          <div *ngIf="userReview == null">
            <button class="my-4 mx-5 border-0 rounded-4 fw-semibold px-3 py-2" style="background-color: #E6EFFE; color: #000055" (click)="openModal()">Add a Review</button>
          </div>

          <div *ngIf="bookReviews !== null" class="mt-5">
            <h3 style="color: #720915">Community Reviews</h3>
            <app-review *ngFor="let review of bookReviews" [review]="review"></app-review>
          </div>
        </div>

      </div>
    </div>

    <div role="main" class="col-md-12 col-lg-3 d-md-block sidebar" style="background-color: #000055; height: inherit" >
      <div class="p-2 m-2">
        <div class="col text-center">
          <img class="text-center" style="width: 95%; height: 17em" [src]="getImageResource(book.resources)" alt="">
          <button class="my-4 mx-5 border-0 rounded-4 fw-semibold px-3 py-2" style="background-color: #E6EFFE; color: #000055">
           <form [formGroup]="form">
             <select formControlName="bookStatus" class="border-0 rounded-4 fw-semibold px-3 py-2"  style="background-color: #E6EFFE; color: #000055" (change)="updateStatus()">
             <option *ngFor="let option of options" [value]="option">{{option}}</option>
           </select></form> </button>
          <div>
            <h5 class=" mx-4" style="color: #E6EFFE">Readability Scores</h5>
          </div>
          <div class="pt-3 text-center">
            <div class="row justify-content-between" style="color: #E6EFFE; "><p class="col-6">Flesch-Kincaid Grade Level</p><p class="col-6"> {{book.readabilityScores?.fleschKincaidGradeLevel}}</p></div>
            <div class="row justify-content-between" style="color: #E6EFFE; "><p class="col-6">Flesch Reading Ease </p><p class="col-6">{{book.readabilityScores?.fleschReadingEase}}</p></div>
            <div class="row justify-content-between" style="color: #E6EFFE; "><p class="col-6">Coleman Liau Index </p><p class="col-6">{{book.readabilityScores?.colemanLiauIndex}}</p></div>
            <div class="row justify-content-between" style="color: #E6EFFE; "><p class="col-6">SMOG Index </p><p class="col-6">{{book.readabilityScores?.smogIndex}}</p></div>
            <div class="row justify-content-between" style="color: #E6EFFE; "><p class="col-6">Automated Readability Index </p><p class="col-6">{{book.readabilityScores?.automatedReadabilityIndex}}</p></div>
            <div class="row justify-content-between" style="color: #E6EFFE; "><p class="col-6">FORCAST Index </p><p class="col-6">{{book.readabilityScores?.forcastIndex}}</p></div>
            <div class="row justify-content-between" style="color: #E6EFFE; "><p class="col-6">Lix Formula </p><p class="col-6">{{book.readabilityScores?.lixIndex}}</p></div>
            <div class="row justify-content-between" style="color: #E6EFFE; "><p class="col-6">Rix Formula </p><p class="col-6">{{book.readabilityScores?.rixIndex}}</p></div>
          </div>

        </div>

      </div>
      <!-- All information -->

    </div>
  </div>
</div>

