
<div class="container-fluid vh-100">
  <div class="row">
    <nav class="col-md-3 col-lg-2 d-md-block vh-100 sidebar">
      <div class="my-5 d-flex flex-row">
        <img style="color: #000055; width: auto; height: 50px" [src]="'../../assets/Book Club (2).png'">
        <p class="px-2 fs-3 fw-bold"> Readalyse </p>
      </div>
      <!-- Sidebar content goes here -->
      <ul class="nav flex-column m-4">
        <li class="nav-item p-2" routerLink="discover" role="button">
          <div class="d-flex flex-row">
            <fa-icon style="color: #000055" size="xl" [icon]="homeIcon"></fa-icon>
            <p class="px-2 fs-6 fw-semibold"> Discover </p>
          </div>
        </li>
        <li class="nav-item p-2">
          <div class="d-flex flex-row" routerLink="category" role="button">
            <fa-icon style="color: #000055" size="xl" [icon]="categoryIcon"></fa-icon>
            <p class="px-2 fs-6 fw-semibold"> Category </p>
          </div>
        </li>
        <li class="nav-item p-2" routerLink="library" role="button">
          <div class="d-flex flex-row">
            <fa-icon style="color: #000055" size="xl" [icon]="libraryIcon"></fa-icon>
            <p class="px-2 fs-6 fw-semibold"> My Library </p>
          </div>
        </li>
        <li class="nav-item p-2" routerLink="analyse" role="button">
          <div class="d-flex flex-row">
            <fa-icon style="color: #000055" size="xl" [icon]="downloadIcon"></fa-icon>
            <p class="px-2 fs-6 fw-semibold"> Analyse </p>
          </div>
        </li>
        <li class="nav-item p-2">
          <div class="d-flex flex-row" role="button">
            <fa-icon style="color: #000055" size="xl" [icon]="favoriteIcon" routerLink="favorite"></fa-icon>
            <p class="px-2 fs-6 fw-semibold"> Favourite </p>
          </div>
        </li>
        <li class="nav-item p-2">
          <div class="d-flex flex-row" role="button">
            <fa-icon style="color: #000055" size="xl" [icon]="categoryIcon" routerLink="favorite"></fa-icon>
            <p class="px-2 fs-6 fw-semibold"> Scores Manual </p>
          </div>
        </li>
        <br>
        <hr>
        <li class="nav-item p-2">
          <div class="d-flex flex-row" role="button">
            <fa-icon style="color: #000055" size="xl" [icon]="settingsIcon"></fa-icon>
            <p class="px-2 fs-6 fw-semibold"> Settings </p>
          </div>
        </li>

        <li class="nav-item p-2">
          <div class="d-flex flex-row" role="button" (click)="handleLogout()">
            <fa-icon style="color: #000055" size="xl" [icon]="logoutIcon"></fa-icon>
            <p class="px-2 fs-6 fw-semibold"> Logout </p>
          </div>
        </li>

      </ul>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 p-0" style="background-color: #E6E9EF">
      <nav class="pt-4" style="height: 80px; background: white">
        <div class="ms-4 rounded bg-light py-2 px-3" style="width: 50%"><fa-icon [icon]="searchIcon"></fa-icon> <input type="search" class="bg-light border-0 ms-2" placeholder="Search your favorite books" style="width: 90%; background-color: #E6E9EF"></div>
      </nav>


      <div class="">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>

