<div class="container-fluid vh-100">
  <div class="text-center" style="display: flex; justify-content: center">
    <div class="col-lg-6 mb-5 mb-lg-0 position-relative">

      <div class="card bg-glass">
        <div class="card-body px-4 py-5 px-md-5">

          <div>
            <input
              type="text"
              placeholder="Username"
              [(ngModel)]="username"
              #title
            />
          </div>
          <div>
            <input
              [type]="hide ? 'password' : 'text'"
              placeholder="Password"
              [(ngModel)]="password"
              #title
            />
          </div>

          <div class="form-check d-flex justify-content-center mb-4">
            <button class="login-button" (click)="handleLogin()">
              Login
            </button>
            <button class="login-button" routerLink="/register">
              SignUp
            </button>
          </div>

          <!--<div class="form-check d-flex justify-content-center mb-4">
            <a class="forgot-password" routerLink="/forgot-password" style="text-decoration: none" >Forgot Password</a>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>



