
button {
  width: 30%;
}

.hide-icon {
  transform: scale(1.4);
}
mat-icon {
  font-size: 50px;
  height: 20px;
}

.login-button {
  width: 26%;
  margin-right: 0.5em;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
  margin-top: 25.7%;
}

.text{
  font-size: 80px;
  font-family:'Courier New', Courier, monospace;
}

.text-2{
  font-size: 30px;
  font-family:'Gill Sans MT', sans-serif;
}

input:focus {
  outline-color: #000055;
  border: none;
}


